In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [3]:
df=pd.read_csv('loan.csv')
df

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,purpose,addr_state,dti,delinq_2yrs,revol_util,total_acc,bad_loan,longest_credit_length,verification_status
0,5000,36 months,10.65,10.0,RENT,24000.0,credit_card,AZ,27.65,0.0,83.7,9.0,0,26.0,verified
1,2500,60 months,15.27,0.0,RENT,30000.0,car,GA,1.00,0.0,9.4,4.0,1,12.0,verified
2,2400,36 months,15.96,10.0,RENT,12252.0,small_business,IL,8.72,0.0,98.5,10.0,0,10.0,not verified
3,10000,36 months,13.49,10.0,RENT,49200.0,other,CA,20.00,0.0,21.0,37.0,0,15.0,verified
4,5000,36 months,7.90,3.0,RENT,36000.0,wedding,AZ,11.20,0.0,28.3,12.0,0,7.0,verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163982,15000,60 months,12.39,3.0,MORTGAGE,45000.0,credit_card,OK,31.44,4.0,75.8,34.0,0,20.0,not verified
163983,20000,36 months,14.99,10.0,OWN,80000.0,home_improvement,VA,23.65,0.0,68.8,18.0,0,22.0,verified
163984,12825,36 months,17.14,6.0,MORTGAGE,38000.0,debt_consolidation,TX,9.03,0.0,70.7,24.0,0,9.0,not verified
163985,27650,60 months,21.99,0.0,RENT,60000.0,credit_card,NY,10.10,1.0,61.2,20.0,0,6.0,verified
163986,17000,60 months,15.99,10.0,MORTGAGE,63078.0,debt_consolidation,PA,31.70,0.0,54.0,28.0,0,16.0,verified

In [4]:
df['home_ownership'].value_counts()

MORTGAGE    79714
RENT        70526
OWN         13560
OTHER         156
NONE           30
ANY             1
Name: home_ownership, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163987 entries, 0 to 163986
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   loan_amnt              163987 non-null  int64
 1   term                   163987 non-null  object
 2   int_rate               163987 non-null  float64
 3   emp_length             158183 non-null  float64
 4   home_ownership         163987 non-null  object
 5   annual_inc             163983 non-null  float64
 6   purpose                163987 non-null  object
 7   addr_state             163987 non-null  object
 8   dti                    163987 non-null  float64
 9   delinq_2yrs            163958 non-null  float64
 10  revol_util             163794 non-null  float64
 11  total_acc              163958 non-null  float64
 12  bad_loan               163987 non-null  int64
 13  longest_credit_length  163958 non-null  float64
 14  verification_status    163987 non-null  object
dtypes: float64(8), int64(2), object(5)
memory usage: 18.8+ MB

In [6]:
df.isnull().sum()

loan_amnt                   0
term                        0
int_rate                    0
emp_length               5804
home_ownership              0
annual_inc                  4
purpose                     0
addr_state                  0
dti                         0
delinq_2yrs                29
revol_util                193
total_acc                  29
bad_loan                    0
longest_credit_length      29
verification_status         0
dtype: int64

In [8]:
df['emp_length']=df['emp_length'].fillna(df['emp_length'].median())
df['total_acc']=df['total_acc'].fillna(df['total_acc'].median())
df['annual_inc']=df['annual_inc'].fillna(df['annual_inc'].median())
df['longest_credit_length']=df['longest_credit_length'].fillna(df['longest_credit_length'].median())
df['revol_util']=df['revol_util'].fillna(df['revol_util'].mean())
df['delinq_2yrs']=df['delinq_2yrs'].fillna(2)

In [9]:
df.isnull().sum()

loan_amnt                0
term                     0
int_rate                 0
emp_length               0
home_ownership           0
annual_inc               0
purpose                  0
addr_state               0
dti                      0
delinq_2yrs              0
revol_util               0
total_acc                0
bad_loan                 0
longest_credit_length    0
verification_status      0
dtype: int64

In [10]:
df.drop('addr_state',axis=1,inplace=True)

In [12]:
df.head()

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,purpose,dti,delinq_2yrs,revol_util,total_acc,bad_loan,longest_credit_length,verification_status
0,5000,36 months,10.65,10.0,RENT,24000.0,credit_card,27.65,0.0,83.7,9.0,0,26.0,verified
1,2500,60 months,15.27,0.0,RENT,30000.0,car,1.00,0.0,9.4,4.0,1,12.0,verified
2,2400,36 months,15.96,10.0,RENT,12252.0,small_business,8.72,0.0,98.5,10.0,0,10.0,not verified
3,10000,36 months,13.49,10.0,RENT,49200.0,other,20.00,0.0,21.0,37.0,0,15.0,verified
4,5000,36 months,7.90,3.0,RENT,36000.0,wedding,11.20,0.0,28.3,12.0,0,7.0,verified

In [14]:
df.shape

(163987, 14)

In [15]:
df['term'].unique()

array(['36 months', '60 months'], dtype=object)

In [16]:
df['term']=df['term'].replace('36 months',36).replace('60 months',60)
df.head()

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,purpose,dti,delinq_2yrs,revol_util,total_acc,bad_loan,longest_credit_length,verification_status
0,5000,36,10.65,10.0,RENT,24000.0,credit_card,27.65,0.0,83.7,9.0,0,26.0,verified
1,2500,60,15.27,0.0,RENT,30000.0,car,1.00,0.0,9.4,4.0,1,12.0,verified
2,2400,36,15.96,10.0,RENT,12252.0,small_business,8.72,0.0,98.5,10.0,0,10.0,not verified
3,10000,36,13.49,10.0,RENT,49200.0,other,20.00,0.0,21.0,37.0,0,15.0,verified
4,5000,36,7.90,3.0,RENT,36000.0,wedding,11.20,0.0,28.3,12.0,0,7.0,verified

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163987 entries, 0 to 163986
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   loan_amnt              163987 non-null  int64
 1   term                   163987 non-null  int64
 2   int_rate               163987 non-null  float64
 3   emp_length             163987 non-null  float64
 4   home_ownership         163987 non-null  object
 5   annual_inc             163987 non-null  float64
 6   purpose                163987 non-null  object
 7   dti                    163987 non-null  float64
 8   delinq_2yrs            163987 non-null  float64
 9   revol_util             163987 non-null  float64
 10  total_acc              163987 non-null  float64
 11  bad_loan               163987 non-null  int64
 12  longest_credit_length  163987 non-null  float64
 13  verification_status    163987 non-null  object
dtypes: float64(8), int64(3), object(3)
memory usage: 17.5+ MB

In [22]:
le=LabelEncoder()
df['purpose']=le.fit_transform(df['purpose'])

In [23]:
df['purpose'].unique()

array([ 1,  0, 11,  9, 13,  2,  4,  6,  7,  8, 12,  5, 10,  3])

In [24]:
df.head()

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,purpose,dti,delinq_2yrs,revol_util,total_acc,bad_loan,longest_credit_length,verification_status
0,5000,36,10.65,10.0,RENT,24000.0,1,27.65,0.0,83.7,9.0,0,26.0,verified
1,2500,60,15.27,0.0,RENT,30000.0,0,1.00,0.0,9.4,4.0,1,12.0,verified
2,2400,36,15.96,10.0,RENT,12252.0,11,8.72,0.0,98.5,10.0,0,10.0,not verified
3,10000,36,13.49,10.0,RENT,49200.0,9,20.00,0.0,21.0,37.0,0,15.0,verified
4,5000,36,7.90,3.0,RENT,36000.0,13,11.20,0.0,28.3,12.0,0,7.0,verified

In [26]:
df['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [34]:
df['home_ownership']=df['home_ownership'].replace('MORTGAGE',4).replace('RENT',3).replace('OWN',5).replace('ANY',2).replace('OTHER',1).replace('NONE',0)

In [37]:
df['home_ownership']=df['home_ownership'].astype('int64')

In [38]:
df['verification_status']=df['verification_status'].replace('verified',1).replace('not verified',0)

In [39]:
df['verification_status']=df['verification_status'].astype('int64')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163987 entries, 0 to 163986
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   loan_amnt              163987 non-null  int64
 1   term                   163987 non-null  int64
 2   int_rate               163987 non-null  float64
 3   emp_length             163987 non-null  float64
 4   home_ownership         163987 non-null  int64
 5   annual_inc             163987 non-null  float64
 6   purpose                163987 non-null  int32
 7   dti                    163987 non-null  float64
 8   delinq_2yrs            163987 non-null  float64
 9   revol_util             163987 non-null  float64
 10  total_acc              163987 non-null  float64
 11  bad_loan               163987 non-null  int64
 12  longest_credit_length  163987 non-null  float64
 13  verification_status    163987 non-null  int64
dtypes: float64(8), int32(1), int64(5)
memory usage: 16.9 MB

In [41]:
x=df.drop('bad_loan',axis=1)
y=df['bad_loan']

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [44]:
rft_model=RandomForestClassifier(n_estimators=100,random_state=1)
rft_model.fit(x_train,y_train)

RandomForestClassifier(random_state=1)

In [47]:
y_pred=rft_model.predict(x_test)
y_pred[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [48]:
y_test[:5]

128345    0
103202    0
121948    1
144518    1
78035     0
Name: bad_loan, dtype: int64

In [49]:
accuracy_score(y_test,y_pred)

0.8184035611927557

In [51]:
confusion_matrix(y_test,y_pred)

array([[26584,   268],
       [ 5688,   258]], dtype=int64)

In [53]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      0.99      0.90     26852
           1       0.49      0.04      0.08      5946

    accuracy                           0.82     32798
   macro avg       0.66      0.52      0.49     32798
weighted avg       0.76      0.82      0.75     32798